
  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 100%;
    font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.2px;
    overflow: hidden;
    margin: 0 auto;
  }

  .profile {
   width: 100%;



    
margin-top: 20px;
  }

  .card {
    margin: 0 auto;
    border-radius: 50%;
    width: 214px;
    height: auto;
    background-color: dimgrey;
  }

 

  p {
    margin: 0;
    color: gray;
    font-size: 32px;
    text-align: center;
  }

  .name {
    margin-top: 20px;
color: black;
font-size: 32px;
    font-weight: 700;
  }

  .tag {
    margin-top: 20px;
  }

  .location {
    margin-bottom: 20px;
  }

  .stats {
display: flex;
margin-bottom: 0;
width: 100%;
background-color: rgb(201, 195, 195);
border-top: 2px solid rgb(84, 83, 83); 
  }

  li {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
   border-right: 2px solid rgb(84, 83, 83); 
   padding-top: 20px;
   padding-bottom: 20px;
  }
  .statsSpan {
    font-weight: bold;
  }